# Ignore the entire build directory from language stats
build/** linguist-generated

# Also target any leftover make files anywhere in the repo
*.make linguist-generated
*.make.* linguist-generated
[Mm]akefile* linguist-generated
*.mk linguist-generated